
h1 {
  font-size: 3.4vh;
  margin: 0;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
}

.card {
  position: relative;
  height: 50vh;
  width: 50vw;
  padding: 40px;
 // transform-style: preserve-3d;
}

.card .title {
  position: relative;
  z-index: 2;
  transform: translateZ(20px);
}

.card .credits {
  font-size: 1.2vh;
  letter-spacing: 0.05em;
  opacity: 0.6;
  transform: translateZ(20px);
}

.card .bg {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
}